*{
    margin: 0;
    padding: 0;
}


body{ background-image:url(images/pic\ 2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


} 
.banner{
    width: 100%;
    height: 100vh;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
  
   
    

}
.logo{
    width: 200px;
    height: 200px;
    border-radius: 30%;
    cursor: pointer;
    margin-right: 0;
    
} 
        
.navbar ul li{
    list-style: none;
    display:inline-block;
    width: auto;
    height: auto;
    margin: 0 20px;
    position: relative;
    

}
.navbar ul li a{
    text-decoration: none;
    color: #F0F0F0;
    text-transform: uppercase;
    font-weight: bolder;
    transition: 0.5s;
}
a:hover{
    border-bottom: 3px solid #3F2305;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: -10px;
    


}
.content P{
    font-weight: 100;
   line-height: 20px;
   margin: 20px auto;
   font-size: large;
    

}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid #3F2305;
    font-weight: bold;
    background: transparent;
    color: #fff;
    cursor: pointer;

}
button:hover{
    background-color: #DFA878;
}


 